@import blueprint/reset.sass
@import partials/base.sass
@import blueprint
@import blueprint/modules/scaffolding.sass
@import compass/utilities/lists.sass
@import partials/borders.sass

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body")

body
  :background
    :color = !background
    :image = image_url("titanium.png")
    :repeat no-repeat
    :position top center

  #container
    +container
    :padding 20px
    
  #content, #footer, #sidebar
    +border-radius(10px, 10px)
    :background-color rgba(61, 65, 68, 0.6)    
    small, p, span, a, h3, h4, h5, li, dl
      :color #fff
    
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = floor(!blueprint_grid_columns / 3)
    +column(!sidebar_columns, true)
    +float-right
    :padding 1.5em
    h1
      :font-size 4em
      :margin 0 0 0.5em
      :color #fff
      :font-family Geneva, Courier
      :padding-left 5px
      .cursor
        :color #fff
    .sideblock
      :padding 0.5em
      img.right
        :margin-top 0
    #contact
      +no-bullets
      :padding-left 0.5em

  #content
    !content_columns = ceil(2 * !blueprint_grid_columns / 3)
    +column(!content_columns - 1)
    +float-left

    ul
      :list-style-type none
      :padding-left 0
      &.horizontal-list
        +horizontal-list
        +append-bottom
      &.examples
        :list-style-type disc
        :padding-left 2.5em

    .location, .dates
      :display block
    .location
      :font-weight bold
    .dates
      :font-style italic
    .description
      :padding-top 0.5em
        
    .single
      :padding
        :left 2.5em
        :right 2.5em

  #footer
    +column(!blueprint_grid_columns)
    :text-align center
    :margin-top 0.5em
    
@import partials/buttons.sass
@import partials/headers.sass
@import partials/toggles.sass
