-# HAML's whitespace management is a complete pain in the ass, so this is just raw html.
:plain
<small>This application is a smooth mix of <a href="http://haml-lang.com">HAML</a>, <a href="http://sass-lang.com">SASS</a> and <a href="http://compass-style.org">Compass</a> led by <a href="http://sinatrarb.com">Sinatra</a>. You can find the source code on my <a href="http://github.com/trydionel/sinatra-resume">github account</a>.</small>
