%h1><
  Jeff Tucker
  %span.cursor>< _
.sideblock
  %p#hcard-jeff-tucker.vcard
    %img.right{:src => gravatar_link("trydionel@gmail.com", 100)}
    %span.fn Jeff Tucker
    is currently located in
    %span.locality Atlanta,
    %span.region GA.
    You can contact him in a few ways:
    %ul#contact
      %li
        %a#email{:href => "mailto:jeff@trydionel.com"} jeff@trydionel.com
      %li
        %a#twitter{:href => "http://twitter.com/trydionel"} Trydionel
      %li
        %a#github{:href => "http://github.com/trydionel"} trydionel
      %li
        %a#blog{:href => "http://trydionel.wordpress.com"} spiral_code
  %a.fancy.activate-keywords{:href => "#"} Show Keywords
  %a.fancy{:href => "mailto:jeff@trydionel.com"} Open to Offers