!!!Strict
%html
  %head
    %title Jeff Tucker | resume.trydionel.com
    %link{:rel=>"stylesheet", :href=>"stylesheets/screen.css", :media=>"screen", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"stylesheets/print.css", :media=>"print", :type=>"text/css"}
    <!--[if IE]>
    %link{:rel=>"stylesheet", :href=>"stylesheets/ie.css", :media=>"screen, projection", :type=>"text/css"}
    < ![endif]-->
    %script{:src => "http://www.google.com/jsapi"}
    :javascript
      google.load("jquery", "1.3.2");
      google.load("jqueryui", "1.7.2");
    %script{:src => "javascripts/application.js"}
    
    #container
      = yield
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11375616-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();